<div class="col-md-12">
  <h2 translate="boards.boards"></h2>
  <div ng-repeat="board in boards.list">
    <p><a ui-sref="tasksFromBoard({boardId: board.id, assignees: board.users, boards: boards.list})">{{board.title}}</a>
      <button ng-click="boards.update(board)" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
      <button ng-click="boards.confirm(board)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
    </p>
  </div>

  <h2 translate="boards.createBoard"></h2>
  <form name="form" role="form">

    <div class="form-group" ng-class="{'has-error': form.title.$dirty && form.title.$error.required}">
        <label for="title" translate="boards.form.title"></label>
        <input type="input" name="title" id="title" class="form-control" ng-model="boards.title" required />
        <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">
          {{'boards.form.requiredTitle' | translate}}</span>
    </div>
    <div class="form-group" ng-class="{'has-error': form.members.$dirty && form.members.$error.required}">
      <label for="members" translate="boards.form.members"></label>
      <tags-input id="members" ng-model="boards.members" placeholder="Email hinzufügen" add-on-blur="true" on-tag-adding="boards.checkMember($tag)">

      </tags-input>
    </div>

    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="btn.create" ng-click="boards.add(boards)" ></button>

  </form>
</div>
