<div class="col-md-12">
  <h2 translate="boards.boards"></h2>

  <button ng-click="boards.createModal()" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span></button>

  <table class="table table-hover">
      <thead>
        <th translate="boards.table.title"></th>
        <th translate="boards.table.cntMembers"></th>
        <th translate="boards.table.owner"></th>
        <th translate="boards.table.actions"></th>
      </thead>
      <tbody>
        <tr ng-repeat="board in boards.list">
          <td class="boardRow" ui-sref="tasksFromBoard({boardId: board.id, assignees: board.users, boards: boards.list})">{{board.title}}</td>
          <td class="boardRow" ui-sref="tasksFromBoard({boardId: board.id, assignees: board.users, boards: boards.list})">{{board.users.length | number:0}}</td>
          <td class="boardRow" ui-sref="tasksFromBoard({boardId: board.id, assignees: board.users, boards: boards.list})">{{board.owner.email}}</td>
          <td ng-show="boards.currentUser.id === board.owner.id"><button ng-click="boards.updateModal(board)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
            <button  ng-click="boards.confirm(board)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
          <td ng-hide="boards.currentUser.id === board.owner.id" translate="boards.table.actionNotOwner">

          </td>
        </tr>
      </tbody>

  </table>

  <button class="btn btn-sm btn-primary" ui-sref="tasks({boards: boards.list})">{{'nav.tasks' | translate}}</button>
</div>
