<div class="col-md-6 col-md-offset-3">
  <h2 translate="user.editProfile"></h2>
  <form name="form" ng-submit="user.update()" role="form">

    <div class="form-group">
      <label for="email" translate="user.email"></label>
      <input disabled type="email" name="email" id="email" class="form-control" ng-model="user.profile.email"/>
    </div>
    {{profile}}

    <div class="form-group">
      <label for="name" translate="user.name"></label>
      <input type="name" name="name" id="name" class="form-control" ng-model="user.profile.name" required />
    </div>

    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="btn.update"></button>
    </div>
  </form>
  <br/>
  <p class="text-success" ng-show="user.saved">{{user.saved | translate}}</p>
  <p class="text-danger" ng-show="user.errorMessage">{{user.errorMessage | translate}}</p>


</div>
