<div class="col-md-12">
  <h2>Tasks</h2>
  <div ng-repeat="task in tasks.list">
    <p>{{task.title}} - {{task.state}}
      <button ng-click="boards.update(board)" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
      <button ng-click="boards.remove(board)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
    </p>
  </div>

  <h2>Task erstellen</h2>
  <form name="form" ng-submit="tasks.add()" role="form" class="form-inline">

    <div class="form-group" ng-class="{'has-error': form.title.$dirty && form.title.$error.required}">
      <label for="title">Bezeichnung</label>
      <input type="input" name="title" id="title" class="form-control" ng-model="title" required />
      <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Bitte geben Sie einen Task Titel an</span>
    </div>
    <button type="submit" ng-disabled="form.$invalid || boards.dataLoading" class="btn btn-primary">Erstellen</button>

  </form>
</div>
