<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h2 ng-show="isNew" translate="tasks.createTitle"></h2>
    <h2 ng-show="!isNew" translate="tasks.updateTitle"></h2>
</div>

<div class="modal-body">
  <!-- selected Board -->
  <div class="form-group">
    <label for="boardSelect" translate="tasks.form.boardSelection"></label>
    <select name="boardSelection" id="boardSelect" ng-model="model.board" class="form-control"
            ng-options="board.title for board in boards"> <!--board.id as board.title for board in boards-->
    </select>
  </div>

  <!-- description -->
  <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$error.required}">
    <label for="description" translate="tasks.form.description"></label>
    <input type="input" name="description" id="description" class="form-control" ng-model="model.description" required />
    <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block" translate="tasks.form.requiredDescription"></span>
  </div>

  <!-- Due date -->
  <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$error.required}">
    <label for="dueDate" translate="tasks.form.dueDate"></label>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
      <input type="text" name="dueDate" id="dueDate" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="model.dueDate" is-open="popup1.opened"
             datepicker-options="dateOptions" ng-required="false"
             close-text="{{ 'btn.close' | translate }}"
             current-text="{{'btn.today' | translate}}"
             clear-text="{{'btn.clear' | translate}}"
      />
    </div>
    <!-- optional parameter
      <span ng-show="form.dueDate.$dirty && form.dueDate.$error.required" class="help-block" translate="tasks.form.requiredDescription"></span>-->
  </div>

  <!-- Person -->
  <div class="form-group">
    <label for="peopleSelect" translate="tasks.form.person">Person</label>
    <select name="peopleSelection" id="peopleSelect" ng-model="model.person">
      <option ng-repeat="person in people" value="{{person.id}}">{{person.name}}</option>
    </select>
  </div>

  <!-- Attachment -->
  <div class="form-group">
    <label for="files" translate="tasks.form.attachment"></label>

    <!--ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-multiple="true"-->
    <button class="btn btn-primary" ngf-select ng-model="model.files" name="files"
           ngf-max-size="10MB" ngf-max-total-size="50MB" ngf-multiple="true" translate="tasks.form.addAttachment"
           ngf-keep="'distinct'" multiple></button>

    <button class="btn btn-danger" translate="btn.clear" ng-click="clearUpload()" ng-show="model.files.length > 0"></button>

    <div class="row" ng-show="model.files.length > 0">
      <div class="col-md-12">
          <p translate="tasks.form.uploadSize" translate-values="{counter: model.files.length}"></p>
      </div>
    </div>

    <div class="row" ng-show="model.files.length > 0">

      <div class="col-md-2" ng-repeat="file in model.files">
        <div class="thumbnail">
          <img ngf-thumbnail="file" class="uploadThumb">
          <video controls ngf-src="file" class="uploadThumb"></video>
          <audio controls ngf-src="file"></audio>

          <div class="caption">
            <h5>{{ file.name | limitTo: 15 }}{{file.name.length > 15 ? '...' : ''}}</h5>
            {{ file.size/1024/1024 | number:2 }} MB
          </div>
      </div>
    </div>


    </div>

  </div>

</form>
</div>

<!-- Buttons -->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(model)" translate="btn.create"></button>
</div>
