<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h2 ng-show="isNew" translate="tasks.createTitle"></h2>
    <h2 ng-show="!isNew" translate="tasks.updateTitle"></h2>
</div>

<div class="modal-body">
  <!-- selected Board -->
  <div class="form-group">
    <label for="boardSelect" translate="tasks.form.boardSelection"></label>
    <select name="boardSelection" id="boardSelect" ng-model="model.board"
            ng-options="board.title for board in boards"> <!--board.id as board.title for board in boards-->
    </select>
  </div>

  <!-- description -->
  <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$error.required}">
    <label for="description" translate="tasks.form.description"></label>
    <input type="input" name="description" id="description" class="form-control" ng-model="model.description" required />
    <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block" translate="tasks.form.requiredDescription"></span>
  </div>

  <!-- Due date -->
  <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$error.required}">
    <label for="dueDate" translate="tasks.form.dueDate"></label>
    <input type="input" name="dueDate" id="dueDate" class="form-control" ng-model="model.dueDate" required />
    <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block" translate="tasks.form.requiredDescription"></span>
  </div>

  <!-- Person -->
  <div class="form-group">
    <label for="peopleSelect" translate="tasks.form.person">Person</label>
    <select name="peopleSelection" id="peopleSelect" ng-model="model.person">
      <option ng-repeat="person in people" value="{{person.id}}">{{person.name}}</option>
    </select>
  </div>

  <!-- Attachment -->
  <div class="form-group">
    <label for="files" translate="tasks.form.attachment"></label>

    <!--ngf-pattern="'image/*'" ngf-multiple="true"-->
    <button class="btn btn-primary" ngf-select ng-model="model.files" name="files"
         ngf-accept="'image/*'" ngf-max-size="10MB" ngf-max-total-size="50MB" ngf-multiple="true" translate="tasks.form.addAttachment" multiple></button>


    Drop files: <div ngf-drop ng-model="model.files" class="drop-box">Drop</div>

  </div>

</form>
</div>

<!-- Buttons -->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok(model)" translate="btn.create"></button>
</div>
